<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402741330749-pr7orvgdab4ov3601ibbi1ocob1ovs4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402741330749-pr7orvgdab4ov3601ibbi1ocob1ovs4a</string>
	<key>API_KEY</key>
	<string>AIzaSyDwLsz69_9Yvn5je_DVHO68FQQgIe_r6kk</string>
	<key>GCM_SENDER_ID</key>
	<string>402741330749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>islam.FootballFields</string>
	<key>PROJECT_ID</key>
	<string>fieldleasing-c0db8</string>
	<key>STORAGE_BUCKET</key>
	<string>fieldleasing-c0db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402741330749:ios:6357b0fb5e813499877b54</string>
	<key>DATABASE_URL</key>
	<string>https://fieldleasing-c0db8.firebaseio.com</string>
</dict>
</plist>